<div class="right-vline bottom-hline triangle-left" style="width: 90%; margin: 0 auto">

	<div style="min-height: 508px">
		<div style="padding: 2em 0">
			<div class="design-border" style="width: 150px"></div>
			<h1 class="text-center mg-less design-title">Some Of Our <span class="primary-color">Clients</span></h1>
			<div class="design-border" style="width: 150px"></div>
		</div>

		<div class="row mg-less">
			<div class="col-xs-offset-1 col-xs-10 text-center our-clients-logo" style="margin-bottom: 2em">

				<div class="row mg-less our-clients-repeat" ng-repeat="(row_index, row) in [] | range:range | partition:partition"
					ng-style="!$last && {'border-bottom': '1px solid #bbb'}">
					<div class="col-sm-4 our-clients-repeat" ng-repeat="(col_index, col) in [] | range:partition" ng-class="{'our-clients-middle-border': !$first}">
						<img ng-src="images/client-logo-{{(row_index * partition) + (col_index + 1)}}.png">
					</div>
				</div>


			</div>
		</div>
	</div>

	<h2 ui-sref="contactUs" class="pointer" style="position: absolute; bottom: 0; left: -1.25em; font-weight: bold; display: inline-block">NEXT</h2>
	<div style="position: absolute; left: -3.25em; bottom: -20px">
		<i class="glyphicon glyphicon-chevron-left" style="color: #585657; height: 10px; width: 7px; font-size: 1.1em;"></i>
		<i class="glyphicon glyphicon-chevron-left" style="color: #585657; height: 10px; width: 7px; font-size: 1.1em;"></i>
		<i class="glyphicon glyphicon-chevron-left" style="color: #585657; height: 10px; width: 7px; font-size: 1.1em;"></i>
	</div>

</div>