<style>

</style>

<div style="padding: 2em 0">
	<div class="design-border"></div>
	<h1 class="text-center mg-less design-title">What <span class="primary-color">We</span> Do</h1>
	<div class="design-border"></div>
</div>

<div class="row text-center what-we-do-logos" style="margin-bottom: 4em">
	<div class="col-sm-3 text-center">
		<img src="images/vendor-logo-digital.png">
		<h4>
			Digital
			Marketing
		</h4>
		Bring your digital product, app or software 
		exposure to the world through our proven 
		marketing services.
	</div>
	<div class="col-sm-3">
		<img src="images/vendor-logo-android-ios.png">
		<h4>
			Native
			Android/IOS
		</h4>
		Breathtaking apps and mobile
		experiences, focused on user
		experience and performance
	</div>
	<div class="col-sm-3">
		<img src="images/vendor-logo-html5.png">
		<h4>
			Web Based
			Platforms
		</h4>
		Groundbreaking technology
		applied to the development of
		impactful sites, hostsites and
		web apps.
	</div>
	<div class="col-sm-3">
		<img src="images/vendor-logo-unity.png">
		<h4>
			Game
			Development
		</h4>
		Creative collaboration and
		development, using digital
		platforms to produce unique
		and engaging experiences.
	</div>
</div>

<div class="top-hline" style="width: 5%; position: absolute;"></div>

<div class="top-hline right-vline triangle-down" style="width: 90%; height: 120px; margin: 0 auto;">
	<h2 ui-sref="ourClients" class="pointer" style="position: absolute; bottom: -1.5em; right: 0.5em; font-weight: bold; display: inline-block">NEXT</h2>
		<div style="position: absolute; right: -7px; bottom: -36px">
			<i class="glyphicon glyphicon-chevron-down" style="color: #585657; height: 10px; width: 7px; font-size: 1.1em; display: block;"></i>
			<i class="glyphicon glyphicon-chevron-down" style="color: #585657; height: 10px; width: 7px; font-size: 1.1em; display: block;"></i>
			<i class="glyphicon glyphicon-chevron-down" style="color: #585657; height: 10px; width: 7px; font-size: 1.1em; display: block;"></i>
		</div>
</div>
